.form-login{
    max-width: 50rem;
}

.form-login .input-pass{
    position: relative;
    display: flex;
    align-items: center;
}

.form-login .input-pass .eye-icon{
    position: absolute;
  right: 0.6rem;
  top: 0.8rem;
}

.form-login .form-signup label::after{
    content: "*";
    color: var(--primary-color);
}