.form-login {
  max-width: 50rem;
}

.form-login .input-pass {
  position: relative;
  display: flex;
  align-items: center;
}

.form-login .input-pass .eye-icon {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  cursor: pointer;
}

.form-login .form-signup label::after {
  content: "*";
  color: var(--primary-color);
}

.passMatch-error {
  color: red;
}
