.product-display-qty {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
}


.product-display-heading {
    display: flex;
  }
  
  .product-container .product-display {
    flex-grow: 1;
  }
  
  .product-display-text {
    padding: 0.8rem 0 0.8rem 3rem;
  }

  .product-display-container {
    padding: 0.8rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
   }

   @media screen and (max-width: 685px) {
    .product-display-container {
      grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
     }
  }
   @media screen and (max-width: 443px) {
    .product-display-container {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
     }

  }

  
  