.page-title {
    padding: 1rem;
    margin: 2rem 0;
  }
  
  .wishlist-container {
    width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    min-height: 51vh;

  }

  .wishlist-container .no-product-text{
    width: 80vw;
    margin: 0 auto;
  }
  .card-floating-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--red);
  }

  .go-to-product{
    color: var(--primary-color);
  }
  .go-to-product:hover{
    text-decoration: underline;
  }

  @media only screen and (max-width: 540px) {
  
    .wishlist-container{
      width: 98%;
      margin: 1rem auto;
      padding: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 460px) {
    .page-title {
      margin: 5rem 0;
    }
  }
  
  @media only screen and (max-width: 452px) {
    .wishlist-container{
    

      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      margin: 1rem;
     }  
    
    .wishlist-card {
      width: 90%;
    }
  }

 
  