  .card {
    margin: 0;
  }
  
  .card .card-body .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-floating-icon {
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--red);
  }
  

  @media only screen and (max-width: 665px) {
    .product-display-container {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    .vertical-card {
      width: 15rem;
    }
  }

  @media only screen and (max-width: 589px) {
    .card {
      margin: 0 auto;
    }
  }
  