.product-filter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 18%;
    min-width: 20rem;
    height: 45rem;
    position: sticky;
    top: 0;
    padding: 1rem;
    overflow-y: scroll;
  }
  
  .product-filter-clear {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
  }
  
  .reset {
    text-decoration: underline;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .filter-type {
    padding: 0.5rem;
  }
  
  .filter-type-container {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0;
  }
  
  .price-filter {
    display: flex;
    flex-direction: column;
  }
  .filter-type-container .slider {
    width: 100%;
  }
  
  .input-check,
  .input-radio {
    width: auto;
  }
  
  .product-filter-container label {
    margin-top: 0.3rem;
    margin-left: 0.6rem;
  }

  .datalist-options{
    display: flex;
    justify-content: space-between;
     font-size: 1rem
  }

  @media screen and (max-width: 685px) {
    .product-filter-container {
      display: none
    }
  }
