.logo-container{
    width: 20%;
    margin-left: 0;
  
}
.logo-container a {
    display: flex;
    align-items: center;
   
}
.logo-container img {
  width: 7em;
  height: auto;
}

.logo-container .logo-name {
  font-family: cursive;
  margin-left: -2rem;
  color: var(--primary-color);
}

.search-container {
  padding: 0;
  display: flex;
  width: 30%;
}
.search-container .btn-search {
  width: 20%;
  padding: 10px;
  border: none;
  border-right: none;
  cursor: pointer;
  outline: none;
}
.search-container input[type="search"] {
  width: 80%;
  padding: 10px;
  border-radius: 0;
  margin: 0;
  border-left: none;
}

@media only screen and (max-width: 900px) {
  .search-container {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    z-index: 4;
  }
  .search-container .btn-search {
    width: 10%;
  }
  .search-container input[type="search"] {
    width: 90%;
  }
  .logo-container {
    width: 100%;
  }
}

@media only screen and (min-width: 270px) and (max-width: 480px) {
   .header {
    gap: 0;
   }

  .logo-container .logo-name {
      margin-left: -1rem;
  }
  
 .header-links ul{
     gap: 0;
    padding: 0;
     
 }   
}





