.card-horizontal {
  max-width: 100%;
  margin: 0;
  width: 100%;

}
.card-horizontal .card-header {
  width: 21%;
  height: 20rem;
}
.card-horizontal .card-header .card-img {
  height: auto;
}
.card-horizontal .card-body{
  padding-left: 2rem;
}

.card-horizontal .card-quantity {
  display: flex;
  gap: 0.2rem;
}
.card-quantity .product-quantity {
  padding-right: 0.5rem;
}
.card-quantity button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.card-quantity .quantity-number {
  
  padding: 0 1.6rem 0.2rem 1.6rem;
  border: 1px solid var(--lynx-gray-color);
  margin: 0 0.2rem;
}
.card-horizontal .card-body .card-btn button {
  width: 50%;
}

@media only screen and (max-width: 460px) {
  .card-quantity input {
    min-width: 25%;
  }
}
