#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
.App .showToast {
  background-color: var(--green);
  width: 50rem;
  font-size: 2rem;
  color: var(--white-color);
}
