@import url("https://pineui.netlify.app/css/components.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color */
:root {
  --primary-color: #ff3f6c;
  --secondary-color: #ff723f;
  --light-secondary-color: #ff723f30;
  --text-color: #282c3f;
  --ratingLessThanThree: rgb(212, 210, 77)
}

body {
  color: var(--text-color);
}

